.top-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background-color: black;
  padding: 8px 40px 8px 40px;
}
li{
  padding: 0 0 0 10px ;
  border: 0 0 0 1px;
  margin: 0 0 0 10px;
}
.top-bar-left{
  display: flex; 
}
.top-bar-right{
  display: flex;
}


.product-list{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item {
  transform: translate();
  margin: 2px;
  font-size: 14px;
  font-family: 'Noto Sans';
 
}
.item:hover {
  box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
}

.product-box-img{
  position: relative;
  
}
.icon-heart{
  position: absolute;
  top: 8px;
  right: 8px;

}
.new-item{
  position:absolute ;
  top: 8px;
  left: 8px;
}
.thumnail{
  width: 100%
}

.buy{
  padding: 0px 8px;
}

.bot{
display: flex;
flex-direction: column;
text-align: center;
}
.size-color{
  display: flex;
  justify-content: space-between;
}
.type{
 margin: 5px 5px ;
}
.name{
  font-weight: bold;
  margin: 5px 5px;
}

.buy{
  color: white;
  background-color:black;
  margin-top: 5px;
  padding: 6px 30px;
  border-radius: 4px;
  margin: 10px;

}

.price{
  color: blue;
  text-align: center;
  margin: 10px 10px;
  font-size: 24px;

}
.style-and-buy{
  transition: all 0.3s ;
  display: none ;
  position: ; 
}
.item:hover .style-and-buy{
  display: block ;
  
}

